/**
 * Variables
 */

// Colors, using css variables
:root {
  // Based on One Light: https://github.com/atom/one-light-syntax/blob/master/styles/colors.less
  --bg-color: rgb(231, 230, 223);

  --base: rgb(11, 23, 82);
  --primary: rgb(134, 69, 28);
  --secondary: rgba(11, 23, 82, 70%);
  --gray: hsl(230, 23%, 23%);
  --gray-border: hsl(230, 77%, 13%);
}

[data-theme="dark"] {
  // Based on One Dark: https://github.com/atom/atom/blob/master/packages/one-dark-syntax/styles/colors.less
  --bg-color: hsl(220, 13%, 18%);

  --base: hsl(219, 14%, 71%); // mono-1
  --primary: hsl( 29, 54%, 61%); // orange 1
  --secondary: hsl(220, 9%, 55%); // mono-2
  --gray-border: hsl(220, 10%, 40%); // mono-3
  --gray: hsl(0, 0%, 100%); // white
}

$color-bg: var(--bg-color);
$color-base: var(--base);
$color-link: var(--primary);
$color-secondary: var(--secondary);
$color-gray: var(--gray);
$color-gray-border: var(--gray-border);

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-link;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
