<section id="experiences" class="four">
    <div class="container">

        <header>
            <i class="fa fa-briefcase"></i>
            <h2>{{ experiences['title']|default ('Please add an experiences title') }}</h2>
        </header>

        <section class="section experiences-section">
            {% for experience in experiences['experiencesList'] %}
            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{ experience['title']|default ('Please add a title') }}</h3>
                        <div class="time">{{ experience['dates']|default ('Please add an experience date range') }}</div>
                    </div><!--//upper-row-->
                    <div class="company">{{ experience['company']|default ('Please add a company') }}</div>
                </div><!--//meta-->
                <div class="details">
                    {% for detail in experience['details'] %}
                    <p>{{ detail|default ('Please add position details') }}
                    {% endfor %}
                </div><!--//details-->
            </div><!--//item-->
            {% endfor %}

    </div>
</section>