<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">{{ header['title']|default ('Please add a header title') }}</h2>
            <p>{{ header['blurb']|default ('Please add a header blurb') }}</p>
        </header>

        <!--<footer>-->
            <!--<a href="#about" class="button scrolly">About Me</a>-->
            <!--<a href="#about" class="button scrolly">CV</a>-->
            <!--<a href="#publications" class="button scrolly">Publications</a>-->
        <!--</footer>-->

    </div>
</section>