<section id="projects" class="three">
    <div class="container">

        <header>
            <h2>{{ projects['title']|default ('Please add a projects title') }}</h2>
        </header>

        <p>Personal and professional code, data and visualization projects.</p>

        <div class="row">
            <div class="4u 12u$(mobile)">
                <article class="item">
                    <a href="https://github.com/joaommartins/ProtNets" target="_blank" class="image fit">
                        <img src="images/PN-2.jpg" alt="" /></a>
                    <header>
                        <h3>ProtNets</h3>
                    </header>
                </article>
                <!--<article class="item">-->
                    <!--<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>-->
                    <!--<header>-->
                        <!--<h3>Rhoncus Semper</h3>-->
                    <!--</header>-->
                <!--</article>-->
            </div>
            <!--<div class="4u 12u$(mobile)">-->
                <!--<article class="item">-->
                    <!--<a href="#" class="image fit"><img src="images/pic4.jpeg" alt="" /></a>-->
                    <!--<header>-->
                        <!--<h3>DEERpredict</h3>-->
                    <!--</header>-->
                <!--</article>-->
                <!--<article class="item">-->
                    <!--<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>-->
                    <!--<header>-->
                        <!--<h3>Natoque Vitae</h3>-->
                    <!--</header>-->
                <!--</article>-->
            <!--</div>-->
            <!--<div class="4u$ 12u$(mobile)">-->
                <!--<article class="item">-->
                    <!--<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>-->
                    <!--<header>-->
                        <!--<h3>Dolor Penatibus</h3>-->
                    <!--</header>-->
                <!--</article>-->
                <!--<article class="item">-->
                    <!--<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>-->
                    <!--<header>-->
                        <!--<h3>Orci Convallis</h3>-->
                    <!--</header>-->
                <!--</article>-->
            <!--</div>-->
        </div>

    </div>
</section>