<section id="projects" class="three">
    <div class="container">

        <header>
            <h2>{{ projects['title']|default ('Please add a projects title') }}</h2>
        </header>

        <p>{{ projects['blurb']|default ('Please add a projects blurb') }}</p>

        <div class="row">
            <div class="4u 12u$(mobile)">
            {% for project in projects['projectsList'] %}
                <article class="item">
                    <a href="{{ project['link'] }}" target="_blank" class="image fit">
                        <img src="{{ project['image'] }}" alt="" /></a>
                    <header>
                        <h3>{{ project['title'] }}</h3>
                    </header>
                </article>
                {% if projects['projectsList']|length <= 3  or loop.index0 % 2 != 0 %}
                </div>
                    <div class="4u 12u$(mobile)">
                {% endif %}
            {% endfor %}

    </div>
</section>