<section id="publications" class="four">
    <div class="container">
        <header>
            <h2>{{ publications['title']|default ('Please add a publications title') }}</h2>
        </header>
        {% for publication in publications['publicationsList'] %}
        <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h1 class="job-title"><a href="{{ publication['link']|default ('Please add a link') }}" target="_blank">
                            {{ publication['title']|default ('Please add a title') }}</a></h1>
                        <div class="time"><b>{{ publication['authors']|default ('Please add authors') }}<br></b>
                            {{ publication['pub']|default ('Please add publication') }}</div>
                        <br><hr width="50%"><br>
                </div><!--//upper-row-->
        </div>
        {% endfor %}
    </div>
</section>